<!DOCTYPE HTML>
<html lang="en">

<HTML>
<HEAD>
	<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="static/jquery-3.2.1.min.js"></script>

</HEAD>
<BODY class="jumbotron">
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">PATIENT ADDED TO SYSTEM</h1>
			<hr class="my-4">
			<p class="lead">Patient has been successfully added to the Queueless system.</p>

			<form action="/">
				<button id="checkinSubmit" type="submit" class="btn btn-primary">Add another patient</button>
			</form>
		</div>

		<div class="container">
			<hr class="my-4">
			<footer class="footer">
				<p>&copy; Queueless 2017</p>
			</footer>
		</div>
	</div>
</BODY>
</HTML>